%h2 Sign in
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .login
    %div
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true
    %div
      = f.label :password
      %br/
      = f.password_field :password, autocomplete: "off"
    - if devise_mapping.rememberable?
      %div
        = f.check_box :remember_me
        = f.label :remember_me
    %div= f.submit "Sign in"
  .shadow
= render "devise/shared/links"

/ Latest compiled and minified CSS
%link{href: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel: "stylesheet"}/
/ Optional theme
%link{href: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css", rel: "stylesheet"}/
/ Latest compiled and minified JavaScript
%script{src: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}
