%p#notice= notice

%p
  %b Title:
  = @photo.title
%p
  %b Caption:
  = @photo.caption
%p
  %b User:
  = @photo.user
%p
  %b Collection:
  = @photo.collection
%p
  %b Image:
  = @photo.image

= link_to 'Edit', edit_photo_path(@photo)
\|
= link_to 'Back', photos_path
