%p#notice= notice

%p
  %b Title:
  = @photo.title
%p
  %b Caption:
  = @photo.caption
%p
  %b Tags:
  - @photo.tags.each do |tag|
    = link_to tag.name, tagged_url(:tag => tag.name)
%p
  %b User:
  = @photo.user
%p
  %b Collection:
  = @photo.collection
%p
  %b Image:
  = @photo.image
%p
  %b Likes:
  = @photo.votes_for.size

= link_to 'like me?', vote_photo_path(@photo)
\|
= link_to 'Edit', edit_photo_path(@photo)
\|
= link_to 'Back', photos_path
