= form_for @photo do |f|
  - if @photo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@photo.errors.count, "error")} prohibited this photo from being saved:"
      %ul
        - @photo.errors.full_messages.each do |msg|
          %li= msg
  .container
    / %form.form-signin
    %div.inputFields
      = f.text_field :title, :class => "form-control", :placeholder => "Title"
    %div.inputFields
      = f.label :caption
      = f.text_area :caption
    %div.inputFields
      = f.label :tag_list, "Tags (separated by commas)"
      = f.text_field :tag_list
    %div.inputFields
      = f.label :collection_id
      = user_collections_select f, current_user
    %div.inputFields
      #new_collection_form.hide
        = text_field_tag "collection[title]", nil, placeholder: "Title"
        %br
        = text_area_tag "collection[description]", nil, placeholder: "Description"
    %div.inputFields
      = f.label :image
      = f.file_field :image
    .actions
      = f.submit 'Save', :class => "btn btn-large btn-primary"
